In [12]:
import sklearn
import pandas as pd
import numpy as np

In [13]:
dfs = pd.read_csv('mercado2.csv', sep=';'  , engine='python', header=None)

In [3]:
dfs.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [16]:
from apyori import apriori

In [14]:
transactions = dfs.values.tolist()

In [46]:
dfs = dfs[0].str.split(",", expand = True)

In [48]:
dfs.fillna(0,inplace=True)

In [49]:
dfs.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
transactions = []
for i in range(0,len(dfs)):
    for j in range(0,20):
         if (str(dfs.values[i,j])!='0'):
            transactions.append([str(dfs.values[i,j])])

In [54]:
transactions = []
for i in range(0,len(dfs)):
    transactions.append([str(dfs.values[i,j]) for j in range(0,20) if str(dfs.values[i,j])!='0'])

In [90]:
transactions[3]

['turkey', 'avocado']

In [197]:
rules = apriori(transactions, min_support = 0.01, min_confidence = 0.05)

In [198]:
#Support degree (support), first enter an empty list, and then assign
supports=[]
#Confidence
confidences=[]
#Lift
lifts=[]
#Based on items_base
bases=[]
#Derivation items items_add
adds=[]

In [199]:
for r in rules:
    for x in r.ordered_statistics:
        supports.append(r.support)
        confidences.append(x.confidence)
        lifts.append(x.lift)
        bases.append(list(x.items_base))
        adds.append(list(x.items_add))

In [200]:
df_result = pd.DataFrame({
    'support':supports,
    'confidence':confidences,
    'lift':lifts,
    'base':bases,
    'adds':adds
})

In [201]:
df_result.head()

    support  confidence  lift base         adds
0  0.087188    0.087188   1.0   []    [burgers]
1  0.081056    0.081056   1.0   []       [cake]
2  0.059992    0.059992   1.0   []    [chicken]
3  0.163845    0.163845   1.0   []  [chocolate]
4  0.080389    0.080389   1.0   []    [cookies]

In [204]:
df_result = df_result[(df_result.base.str.len() >= 1) | (df_result.adds.str.len() >= 1)]

In [215]:
df_result[(df_result.support > 0.015) & (df_result.confidence > 0.25)].sort_values(by=['confidence','lift'], ascending=False).head(30)

,support,confidence,lift,base,adds
321,0.023064,0.456464,1.914955,[soup],[mineral water]
438,0.015731,0.443609,1.861024,"[milk, spaghetti]",[mineral water]
432,0.017064,0.435374,1.826477,"[spaghetti, ground beef]",[mineral water]
312,0.027596,0.419028,1.757904,[olive oil],[mineral water]
431,0.017064,0.416938,2.394681,"[mineral water, ground beef]",[spaghetti]
267,0.040928,0.416554,1.747522,[ground beef],[mineral water]
388,0.015865,0.404762,1.698053,"[chocolate, spaghetti]",[mineral water]
317,0.017064,0.401254,1.683336,[salmon],[mineral water]
275,0.039195,0.398915,2.291162,[ground beef],[spaghetti]
140,0.020131,0.394256,1.653978,[cooking oil],[mineral water]
81,0.022797,0.380000,1.594172,[chicken],[mineral water]
229,0.035729,0.374825,1.572463,[frozen vegetables],[mineral water]
293,0.047994,0.370370,1.553774,[milk],[mineral water]
326,0.024397,0.356725,1.496530,[tomatoes],[mineral water]
314,0.033729,0.354839,1.488616,[pancakes],[mineral water]
333,0.022930,0.348178,1.999758,[olive oil],[spaghetti]
279,0.017064,0.345013,1.447397,[herb & pepper],[mineral water]
330,0.020131,0.343964,1.442993,[whole wheat rice],[mineral water]
324,0.059725,0.343032,1.439085,[spaghetti],[mineral water]
62,0.027463,0.338816,1.421397,[cake],[mineral water]
243,0.017464,0.333333,1.398397,[grated cheese],[mineral water]
30,0.028796,0.330275,1.837830,[burgers],[eggs]
319,0.023597,0.330224,1.385352,[shrimp],[mineral water]
281,0.016264,0.328841,1.888695,[herb & pepper],[spaghetti]
437,0.015731,0.327778,1.882589,"[mineral water, milk]",[spaghetti]
264,0.015998,0.323450,3.291994,[herb & pepper],[ground beef]
110,0.052660,0.321400,1.348332,[chocolate],[mineral water]
217,0.020264,0.320000,1.342461,[frozen smoothie],[mineral water]
283,0.015065,0.317416,1.331619,[honey],[mineral water]
245,0.016531,0.315522,1.812196,[grated cheese],[spaghetti]